# Run 'man hitch.conf' for a description of all options.


frontend = {
    host = "{{ hitch_frontend_host }}"
    port = "{{ hitch_frontend_port }}"
}
backend = "[{{ hitch_backend_host }}]:{{ hitch_backend_port }}"    # 6086 is the default Varnish PROXY port.
workers = {{ hitch_workers }}                     # number of CPU cores

daemon = on

# We strongly recommend you create a separate non-privileged hitch
# user and group
user = "hitch"
group = "hitch"

# Enable to let clients negotiate HTTP/2 with ALPN. (default off)
# alpn-protos = "h2, http/1.1"

# run Varnish as backend over PROXY; varnishd -a :80 -a localhost:6086,PROXY ..
write-proxy-v2 = on             # Write PROXY header


syslog = on
log-level = 1
# Add pem files to this directory
{% if hitch_pem_file_path | length %}
pem-file = "{{ hitch_pem_file_path }}"
{% endif %}

{{ hitch_extra_config }}